<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Play rosbag file -->
    <!-- <include file="$(find object_detection)/launch/play_rosbag.launch">
        <arg name="filename" value="all-01.bag" />
    </include> -->

    <!-- Launch the depth camera -->
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="true"/>
    </include> -->

    <!-- Launch object pose detection -->
    <node
        pkg="object_detection"
        type="object_pose_detection"
        name="object_pose_detection"
        output="screen">

        <!-- Set topics and params -->
        <rosparam>
            <!-- invert (default: true): True > Box; False > Ground Plane -->
            invert: true
            <!-- voxel_size (default: 0.01): Lower the value, denser the point cloud, more CPU -->
            voxel_size: 0.001
            <!-- distance_threshold (default: 0.01): Lower the value, more of box + table noise -->
            distance_threshold: 0.01
            <!-- Topics -->
            input: "/camera/depth/color/points"
            output: "/object_pose_detection/points"
            icp_fitness_score: 0.0004
        </rosparam>
    </node>

    <!-- Display the 3D bounding box -->
    <!-- <node
        pkg="object_detection"
        type="draw_bbox.py"
        name="draw_bbox"
        output="screen">

        <rosparam>
            camera_info_topic: "/camera/color/camera_info"
            image_color_topic: "/camera/color/image_raw"
            bbox_points_topic: "/icp/bbox_points"
            extrinsics: "/camera/extrinsics/depth_to_color"
            output_topic: "/draw_bbox/image"
        </rosparam>
    </node> -->

    <!-- Run RVIZ -->
    <!-- <node
        type="rviz"
        name="rviz"
        pkg="rviz"
        args="-d $(find object_detection)/perception.rviz">
    </node> -->

</launch>
