<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Play rosbag file -->
    <include file="$(find cuboid_detection)/launch/play_rosbag.launch">
        <arg name="filename" value="2019-03-23-22-32-55.bag" />
    </include>

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node
        pkg="cuboid_detection"
        type="ground_plane_segmentation"
        name="ground_plane_segmentation"
        output="screen">

        <!-- Set topics and params -->
        <rosparam>
            <!-- invert (default: true): True > Box; False > Ground Plane -->
            invert: true
            <!-- voxel_size (default: 0.01): Lower the value, denser the point cloud, more CPU -->
            voxel_size: 0.005
            <!-- distance_threshold (default: 0.01): Lower the value, more of box + table noise -->
            distance_threshold: 0.015
            <!-- Topics -->
            input: "/camera/depth/color/points"
            output: "/ground_plane_segmentation/points"
            plane_coefficients: "/ground_plane_segmentation/coefficients"
        </rosparam>
    </node>

</launch>
